:root{
    --scrollbar-line:rgb(214, 214, 214);
    --scrollbar-thumb:rgb(177, 177, 177);
}

* {
    padding:0rem; 
    margin:0rem; 
    box-sizing: border-box; 
    vertical-align: top;
    
    scrollbar-width: thin;
    scrollbar-color:var(--scrollbar-thumb) var(--scrollbar-line);
    &::-webkit-scrollbar{
        height: 10px;
        width: 10px;
        background-color: var(--scrollbar-line);
    }
    &::-webkit-scrollbar-thumb{
        background: var(--scrollbar-thumb);
    }
}
*,*:before,*:after {box-sizing: border-box;margin: 0rem;}
a {text-decoration: none;}
html {
    font-family: 'poppins', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 0.875rem;
    word-spacing: 0.0625rem; 
    letter-spacing:0.04rem;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
body{
    color: var(--body-dark);
    background-color: #EFEFEF;
}

//Placeholder
:root {--placeholder-color:#c9c9c9; --placeholder-transition-time:.4s;}
::-webkit-input-placeholder { opacity: 1; -webkit-transition: opacity var(--placeholder-transition-time); transition: opacity var(--placeholder-transition-time); color: var(--placeholder-color); } /* Chrome <=56, Safari < 10 */
:-moz-placeholder { opacity: 1; -moz-transition: opacity var(--placeholder-transition-time); transition: opacity var(--placeholder-transition-time);  color: var(--placeholder-color);} /* FF 4-18 */
::-moz-placeholder { opacity: 1; -moz-transition: opacity var(--placeholder-transition-time); transition: opacity var(--placeholder-transition-time);  color: var(--placeholder-color);} /* FF 19-51 */
:-ms-input-placeholder { opacity: 1; -ms-transition: opacity var(--placeholder-transition-time); transition: opacity var(--placeholder-transition-time);  color: var(--placeholder-color);} /* IE 10+ */
::placeholder { opacity: 1; transition: opacity var(--placeholder-transition-time);  color: var(--placeholder-color);} /* Modern Browsers */

*:focus::-webkit-input-placeholder { opacity: 0; } /* Chrome <=56, Safari < 10 */
*:focus:-moz-placeholder { opacity: 0;  } /* FF 4-18 */
*:focus::-moz-placeholder { opacity: 0;  } /* FF 19-50 */
*:focus:-ms-input-placeholder { opacity: 0; } /* IE 10+ */
*:focus::placeholder { opacity: 0;  } /* Modern Browsers */