// Display
.d-block {display: block;}
.d-inline-block {display: inline-block;}
.d-flex {display: flex;}
.d-grid {display: grid;}

// Flex Box
.flex-column {flex-direction: column}
.flex-auto {flex: auto}
.no-shrink{flex-shrink: 0}