.pannel-{
    &-layout{}
    &-header{
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        display: flex;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.02);
        border-radius: 0px 30px 30px 0px;
        &-spacer{
          flex-shrink: 0;
        }
        &-content{
          background-color: var(--white);
          flex: auto;
          padding: 20px;
        }
    }

    &-left-menubar{
      position: fixed;
      z-index: 9;
      &-floating{
          position: fixed;
          left: 0px;
          bottom: 0px;
          top: 0px;
          right: 0px;
          width: auto !important;
          background-color: rgba(0,0,0,.5);
          
      }
      &-main{
          background-color: var(--secondary);
          height: 100vh;
          border-radius: 0px 30px 30px 0px;
          padding: 24px 12px;
      }
      &-btn{
        padding: 12px 15px;
        color: var(--white);
        border-radius: 20px;
      }
      &-active-btn{
        color: var(--primary);
      }
      &-toggle-active-btn{
        background: linear-gradient(90deg, #444444 0%, #333333 78.24%);
      }
      &-sub-active{
        background: linear-gradient(90deg, #4b4a4a 0%, #333333 78.24%);
        border-radius: 20px;

      }
      &-sub-btn{
        padding: 15px 32px;
        color: var(--white);
      }
      &-sub-active-btn{
        color: var(--primary);
      }
    }
    &-body{
        &-base{
          display: flex;
        }
        &-spacer{
          flex-shrink: 0;
        }
        &-content{
          overflow: auto;
          flex: auto;
        }
    }
}

//Animation-menu
.slide-left-menu-enter-to,
.slide-left-menu-leave-from {
  margin-left:0px;
}
.slide-left-menu-enter-active,
.slide-left-menu-leave-active {
  transition: all .2s ease;
  margin-left: 0px;
}
.slide-left-menu-enter-from,
.slide-left-menu-leave-to {
  margin-left: var(--leftMenuNegSize);
}

//Animation-menu-hover
.fade-left-menu-enter-to,
.fade-left-menu-leave-from {
  opacity:1;
}
.fade-left-menu-enter-active,
.fade-left-menu-leave-active {
  transition: all .2s ease;
}
.fade-left-menu-enter-from,
.fade-left-menu-leave-to {
    opacity:0;
}

.expand-left-menu-btn-enter-active,
.expand-left-menu-btn-leave-active {
  transition: height .3s ease-in-out;
  overflow: hidden;
}

//Animation-router
.fade-route-enter-to,
.fade-route-leave-from {
  opacity:1;
}
.fade-route-enter-active,
.fade-route-leave-active {
  transition: opacity .2s ease;
}
.fade-route-enter-from,
.fade-route-leave-to {
    opacity:0;
}


